.DS_Store
.build
/*.xcodeproj
xcuserdata/
docs/
default.profraw
.swiftcov

# This file is used by VS Code to configure tasks that can be run, e.g. tests. However is relies on the Xcode path which can change between computers.
/.vscode/launch.json
